.c-emailfile{
  &-modal {
    text-align: center;

      .modal-header{
        border-bottom: none;
      }
      .modal-body {
        width: 90%;
        margin-left: 5%;
        border: 2px solid green;
        border-radius: 10px;
      }
      .modal-content {
        background-color: #F2E1B2;
        width: 70%;
        margin-left: 15%;
      }
  }
}
