.c-addproduct{
  &-body {
    text-align: center;
    font-size: 12px;
  }
  &-header {
    font-size: 16px;
  }
  &-prop {
    width: 50%;
    display: inline-block;
  }
  &-value {
    width: 50%;
    display: inline-block;
    text-align: center;
    background-color: white;
    text-align-last:center;
  }
  &-group {
    margin: 5% 0;
    display:flex;
    align-items: flex-start;
  }

  &-remove{
    width: 30%;
    color: white;
    background-color: red;
    padding: 5%;
    border-color: black;
    display: inline-block;
  }
  &-submit {
    width: 40%;
    margin-left: 30%;
    text-align: center;
    background-color: rgb(180, 228, 28);
    border: 1px solid black;
    color: black;
  }
}
